@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/*-------------------------------INICIO DE SESION----------------------------------*/

body{
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/img_fondo_login_1.png);
    background-size: cover;
}

.degradado{
    width: 100vw;
    height: 1px;
    background-color: #4DD42E;
    box-shadow: 0px 0px 50px 40px #4DD42E;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.9) ;
    margin: 80px auto;
    width: 30%;
    height: 80%;
    align-items: center;
    justify-content:center;
    border-radius: 30px;
    color: white;
    border: solid 2px #4DD42E;
}

.formulario--NuevoProducto{
  width: 50%;
}

.LogoFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
    margin-bottom: 20px;
}

.logo__imagen{
    width: 90px;
    height: auto;
}

.formulario__label{
  font-weight: 700;
}

.formulario__campo{
    width: 80%;
    text-align: center;
    height: 6vh;
    margin: 10px;
    background-color: #CACACA;
    border-style: none;
    border-radius: 10px;
    color: #212121;
    font-size: 16px;
    outline: none;
    font-weight: 700;
    padding: 0 2%;
}

.formulario__campo--textArea{
  resize: none;
  font-size: 12px;
  text-align: start;
  height: 10vh;
}

.formulario__campo--oculto{
  display: none;
}

.formulario__campo--verde{
  justify-content: center;
  align-content: center;
  background-color: #4DD42E;
}

.formulario__link{
    color: #4DD42E;
    font-size: 12px;
    margin-bottom: 20px;
}

.formulario__boton{
    background-color: #4DD42E;
    color: white;
    width: 40%;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    margin: 8px;
    height: 7%;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    text-decoration: none;
}


.formulario__insertarImagen{
  width: 40%;
  height: 20%;
  border: dashed 2px #4DD42E;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4DD42E;
  padding-bottom: 5px;
}

.insertarImagen__icono{
  font-size: 4vw;
}

.formulario__insertarImagen:hover{
  cursor: pointer;
}

.formulario__boton:hover{
  cursor: pointer;
  box-shadow: 0px 0px 50px 2px #4DD42E;
  transition: 1s;
}


/*--------------------------------------------- RESERVAS ---------------------------------------------*/

.estructura{
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/img_fondo_login_1.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 15% 85%;
    grid-template-areas: "encabezado encabezado"
                          "sidebar contenido";
}



.encabezado{
  width: 100%;
  height: 100%;
  background-color: #212121;
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  color: white;
}

.sidebar{
  background-color: #212121;
  width: 100%;
  height: 100%;
  grid-area: sidebar;
  border-top: solid 1px white;
  padding-top: 5%;
}

.contenido{
  width: 100%;
  height: 100%;
  grid-area: contenido;
  padding: 2%;
}

.logoEncabezado{
  display: flex;
  height: 100%;
  align-items: center;
}

.logoEncabezado__imagen{
  height: 50%;
  width: auto;
  margin: 0 1vw;
}

.encabezadoPerfil{
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.encabezadoPerfil:hover{
  cursor: pointer;
}

.encabezadoPerfil__icono{
  background-color: white;
  color: #4DD42E;
  align-content: center;
  width: 45px;
  height: 45px;
  font-size: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__boton{
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 7%;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-left: 15%;
}

.botonSidebar__icono{
  font-size: 1.2vw;
  margin-right: 8%;
  color: #4DD42E;
}

.botonSidebar__texto{
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
}

/*------------------------------------------------------ ESTILOS TABLA DE RESERVAS ------------------------------------*/

.botonesSuperiores{
  display: flex;
  height: 7%;
  justify-content: space-between;
  align-items: center;
}

.infoEstadoReserva{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.infoEstado{
  display: flex;
  background-color: white;
  height: 3vw;
  color: black;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  border-radius: 15px;
  font-size: 1.042vw;
}

.infoEstado--enProceso{
  background-color: #4DD42E;
}

.infoEstado--terminado{
  background-color: red;
}

.contenido__Boton{
  display: flex;
  border: none;
  background-color: #4DD42E;
  width: 10vw;
  height:3vw;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
  font-size: 1.042vw;
  border-radius: 15px;
  font-weight: 700;
}

.contenido__contenedor{
  width: 99%;
  height: 90%;
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 40px;
  padding: 2%;
  margin-top: 17px;
  overflow-y: scroll;
}

.tabla{
  color: white;
  width: 100%;
  border-spacing: 0 10px;
  /* border: solid 1px #4DD42E; */
  padding: 2%;
  border-radius: 20px;  
}
.tabla__cuerpo{
  overflow-x: scroll;
}
.tabla__encabezado{
  color: #4DD42E;
}

.tabla__campo{
  border: solid 1px #4DD42Eed;
  text-align: center;
  padding:2vh 0;
}

.tabla__campo:first-child{
  border-radius: 15px 0 0 15px;
}

.tabla__campo:last-child{
  border-radius: 0 15px 15px 0;
}

::-webkit-scrollbar{
  display: none;
}

.registro__boton{
  display: flex;
  width: 2.5vw;
  height:2.5vw;
  background-color: #4DD42E;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3vw;
  font-weight: 1000;
  margin: 0 auto;
  border-radius: 15px;
}
 /*----------------------------------- ESTILOS NUEVA RESERVA-------------------------------------------*/

 .formulario--NuevaReserva{
  height: 100%;
  margin: 10px auto;
 }

 .formulario__label--verde{
    color:#4DD42E;
    font-size: 12px;
 }

 /*---------------------------------- ESTILOS INFO DE LA RESERVA------------------------------------------*/

 .contenido__contenedor--grande{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "info_reservas productos_reserva"
                      "info_reservas boton_regresar";
 }

 .infoReserva{
  width: 100%;
  height: 40%;
  border: solid 1px #4DD42E;
  border-radius: 25px;
  display: flex;
  grid-area: info_reservas;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  color: white;
  font-size: 1.7vw;
  font-weight: 700;
  align-self: center;
 }

 .infoReserva__texto{
  color: #4DD42E;
 }

 .productosReserva{
  grid-area: productos_reserva;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rebeccapurple; */
  padding: 5%;
  overflow-y:scroll;
 }
 .contenedorTabla{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  border: solid 1px #4DD42E;
  border-radius: 15px;
 }

 .boton__tabla{
  background-color: #4DD42E;
  width: 12vw;
  border: none;
  min-height: 4.5vh;
  margin: 7px;
  border-radius: 15px;
  color: white;
  font-size: 0.9vw;
  font-weight: 600;
  text-align: center;
  align-content: center;
  text-decoration: none;
 }

 .botonRegresar{
  grid-area: boton_regresar;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
 }

 .contenedorBotonesTabla{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 5%;
 }
 .registro__boton--eliminar{
  background-color: red;
  margin: 0;
 }

 .registro__boton--editar{
  margin: 0;
 }

/*-------------------- ESTILOS EGRGAR PRODUCTO -----------------------*/
.formulario--AgregarProducto{
  height: 95%;
  margin: 0 auto;
}

/*------------------- ESTILOS PRODUCTOS ------------------------------*/

.cards{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill,285px);
  gap: 15px;
  justify-content: center;
}

.cards--consolas{
  grid-template-columns: repeat(auto-fill,350px);
}

.card{
  border: solid 2px #4DD42E;
  background-color: #212121;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 13px; */
  align-items: center;
  text-align: center;
  color: white;
  gap: 10px;
  border-radius: 15px;
  justify-content: center;
}

.cardInfo{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card--horizontal{
  flex-direction: row;
  height: 20vh;
}

.card__linea{
  width: 100%;
  border: solid 1px #4DD42E;
}

.card__imagen{
  width: 80px;
  height: auto;
}

.card__descripcion{
  font-size: 12px;
  margin: 0 13px;
  font-weight: 600
}

.card__precio,
.card__cantidades{
  color: #4DD42E;
}
.card__botones{
  display: flex;
  gap: 10px;
}

.card__boton{
  width: 35px;
  height: 35px;
  display: block;
  background-color: #4DD42E;
  text-decoration: none;
  color: white;
  align-content: center;
  font-size: 20px;
  border-radius: 9px;
}

.infoPerfil{
  position: absolute;
  top: 10%;
  right: -50%;
  z-index: 2;
  width: 260px;
  height: 5vh;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px;
  font-size: 20px;
  border-radius: 0 0 15px 15px;
  transition: 0.1s;
}

.infoPerfil__boton{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-weight: 600;
  color: red;
}

#checInfoPerfil{
  display: none;
}

#checInfoPerfil:checked + .infoPerfil{
  right: 3%;
  transform: 3s;
}
