@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

/*-------------------------------INICIO DE SESION----------------------------------*/

body{
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/img_fondo_login_1.png);
    background-size: cover;
}

.degradado{
    width: 100vw;
    height: 1px;
    background-color: #4DD42E;
    box-shadow: 0px 0px 50px 40px #4DD42E;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.9) ;
    margin: 80px auto;
    width: 30%;
    height: 80%;
    align-items: center;
    justify-content:center;
    border-radius: 30px;
}

.LogoFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
    margin-bottom: 20px;
}

.logo__imagen{
    width: 90px;
    height: auto;
}

.formulario__campo{
    width: 80%;
    text-align: center;
    height: 6vh;
    margin: 10px;
    background-color: #CACACA;
    border-style: none;
    border-radius: 10px;
    color: #212121;
    font-size: 16px;
    outline: none;
    font-weight: 700;
}

.formulario__link{
    color: #4DD42E;
    font-size: 12px;
    margin-bottom: 20px;
}

.formulario__boton{
    background-color: #4DD42E;
    color: white;
    width: 40%;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    margin: 8px;
    height: 7%;
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

.formulario__boton:hover{
  cursor: pointer;
  box-shadow: 0px 0px 50px 2px #4DD42E;
  transition: 1s;
}


/*--------------------------------------------- RESERVAS ---------------------------------------------*/

.estructura{
    width: 100%;
    height: 100vh;
    background-image: url(./IMG/img_fondo_login_1.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 15% 85%;
    grid-template-areas: "encabezado encabezado"
                          "sidebar contenido";
}

.encabezado{
  width: 100%;
  height: 100%;
  background-color: #212121;
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  color: white;
}

.sidebar{
  background-color: #212121;
  width: 100%;
  height: 100%;
  grid-area: sidebar;
  border-top: solid 1px white;
  padding-top: 5%;
}

.contenido{
  width: 100%;
  height: 100%;
  grid-area: contenido;
  padding: 2%;
}

.logoEncabezado{
  display: flex;
  height: 100%;
  align-items: center;
}

.logoEncabezado__imagen{
  height: 50%;
  width: auto;
  margin: 0 1vw;
}

.encabezadoPerfil{
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.encabezadoPerfil__icono{
  background-color: white;
  color: #4DD42E;
  align-content: center;
  width: 45px;
  height: 45px;
  font-size: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__boton{
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 7%;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-left: 15%;
}

.botonSidebar__icono{
  font-size: 120%;
  margin-right: 8%;
  color: #4DD42E;
}

.botonSidebar__texto{
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 110%;
  font-weight: 700;
}

/*------------------------------------------------------ ESTILOS TABLA DE RESERVAS ------------------------------------*/

.contenido__Boton{
  display: flex;
  background-color: #4DD42E;
  width: 13%;
  height:7%;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
  font-weight: 700;
}

.contenido__contenedor{
  width: 99%;
  height: 90%;
  background-color: rgba(33, 33, 33, 0.9);
  border-radius: 40px;
  padding: 2%;
  margin-top: 17px;
  overflow-y: scroll;
}

.tabla{
  color: white;
  width: 100%;
  border-spacing: 0 10px;
}

.tabla__encabezado{
  color: #4DD42E;
}

.tabla__campo{
  border: solid 1px #4DD42Eed;
  text-align: center;
  padding:2vh 0;
}

.tabla__campo:first-child{
  border-radius: 15px 0 0 15px;
}

.tabla__campo:last-child{
  border-radius: 0 15px 15px 0;
}

::-webkit-scrollbar{
  display: none;
}

.tabla__boton{
  display: flex;
  width: 50%;
  height:40px;
  background-color: #4DD42E;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 130%;
  font-weight: 1000;
  margin: 0 auto;
  border-radius: 15px;
}
